<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>HAAuthToken</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI5ZWU5NWNiOWViNDM0MzViODcyYWI1ZmU2NmJhZWVkYSIsImlhdCI6MTcyNTE2MTY2NywiZXhwIjoyMDQwNTIxNjY3fQ.2fVXubLMbQg305K49MdgNAeRqDhDMIE6-5LavXQ9Jys</string>
</dict>
</plist>
